.wrap a img {
  width: 45px;
  padding-top: 10px;
  padding-left: 10px;
}
.menu-link a:hover {
  text-decoration: none;
}
.panel li {
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.panel ul {
  list-style-type: none;
}
.panel a {
    padding-right: 30px;
}
.top {
  text-align: center;
}
.top h1 {
  font-family: "Pacifico";
  font-size: 56px;
  padding: 30px 0px 45px 0px;
}
.top p {
  font-family: "Pacifico";
  font-size: 36px;
  padding: 45px 0px 45px 0px;
}
.top img {
  width: 200px;
}
.aboutme p {
  font-family: "Raleway";
  text-align: center;
  font-size: 20px;
}
.aboutme p:first-of-type {
  text-align: center;
  padding-bottom: 35px;
}
.aboutme p:nth-of-type(2) {
  margin: 0 auto;
  padding-bottom: 35px;
  width: auto;
}
.city img {
  width: 100%;
  padding-top: 50px;
}
.whaticando h3 {
  font-family: "Pacifico";
  font-size: 56px;
}
.whaticando p {
  font-family: "Raleway";
  font-size: 20px;
  width: auto;
}
.tools p {
  font-family: "Raleway";
  font-size: 20px;
  width: auto;
}
.tools h3 {
  font-family: "Pacifico";
  font-size: 56px;
  padding-top: 75px;
}
.inlineblock {
  display: inline-block;
}
.containerr {
  text-align: center;
  padding-top: 45px;
}
.containerl {
  text-align: center;
  padding-left: 25px;
}
.resume object {
  padding-top: 35px;
}
.wrap {
  position: relative;
}
 /*div and containers on all 4
 containers right or left
 div inlineblock*/
.panel {
  position: fixed;
  left: -8.625em; /*left or right and the width of your navigation panel*/
  width: 8.625em; /*should match the above value*/
}